.contact-header {
  margin-left: 30%;
}

.nav-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin-right: 15%;
}
.header__menu {
  display: flex;
  align-items: center;
}

.header__menu ul {
  list-style: none;
  display: flex;
  margin: 0;
}
.header__menu ul li {
  margin-left: 20px;
  position: relative;
}

.header__menu ul ul {
  display: none;
}

.header__menu ul li:hover > div {
  position: absolute;
  display: grid;
}

.header_logo {
  margin-left: 100px;
}

.dropdown-collections {
  width: 800px;
  grid-template-columns: repeat(3, 1fr);
  display: none;
  gap: 10px;
  border: 1px solid black;
  padding: 20px;
  cursor: pointer;
  align-items: center;
}

.dropdown-collections img {
  max-width: 50px;
}
.dropdown-collections a {
  margin-left: 10px;
}

.dropdown-collection {
  margin: 10px;
}

.header-icons {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header-icon {
  margin-left: 10px;
}

#uk-flag {
  width: 20px;
}
